<table>
    <tr>
        <th>Name</th><br>&nbsp;&nbsp;
        <th>Email</th><br>&nbsp;&nbsp;
        <th>Phone no</th><br>&nbsp;&nbsp;
        <th>Address</th><br>&nbsp;&nbsp;&nbsp;&nbsp;
    </tr>
    <tr>
        <td>{{data.user}}</td>&nbsp;&nbsp;
        <td>{{data.email}}</td>&nbsp;&nbsp;
        <td>{{data.phone}}</td>&nbsp;&nbsp;
        <td>{{data.address}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td><button (click)="edituser()">Edit</button>&nbsp;<button (click)="deleteuser()">Delete</button></td>
    </tr>
</table>
<router-outlet></router-outlet>