<table>
    <tr>
        <th>Name</th><br>&nbsp;&nbsp;
        <th>Email</th><br>&nbsp;&nbsp;
        <th>Phone no</th><br>&nbsp;&nbsp;
        <th>Address</th><br>&nbsp;&nbsp;&nbsp;&nbsp;
    </tr>
    <tr>
        <td>{{formdata.user}}</td>&nbsp;&nbsp;
        <td>{{formdata.email}}</td>&nbsp;&nbsp;
        <td>{{formdata.phone}}</td>&nbsp;&nbsp;
        <td>{{formdata.address}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td><button (click)="edituser()">Edit</button>&nbsp;<button>Delete</button></td>
    </tr>
</table>
<router-outlet></router-outlet>